<h1> Our Available Animals </h1>

<% @shelter.pets.each do |pet| %>
<h3><a href="/pets/<%=pet.id%>"><%=pet.name%></a></h3>
<img src="<%=pet.image%>">
<p>Age: <%=pet.age%> <br> Sex: <%=pet.sex%></p>
<%= link_to "Edit Pet", "/pets/#{pet.id}/edit" %>
<%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete%>

<% end %>
<br> <br>
<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
