<h1> Our Available Animals </h1>

<% @shelter.pets.each do |pet| %>
<h3><%=pet.name%></h3>
<img src="<%=pet.image%>">
<p>Age: <%=pet.age%> <br> Sex: <%=pet.sex%></p>
<% end %>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
