<h1><%= @shelter.name %></h1>
<p><%= @shelter.address%><br><%=@shelter.city%>, <%=@shelter.state%> <%=@shelter.zip%></p>

<h3>
<%= link_to "Check out our Animals!", "/shelters/#{@shelter.id}/pets" %>
</h3>
<br> <br>
<div class = edit_delete>
<a href="/shelters/<%= @shelter.id %>/edit">Edit</a> <br>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
</div>
