<form action="/pets/<%= @pet.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='name' value="<%= @pet.name %>"/><br/>
  <input type='text' name='image' value="<%= @pet.image %>"/><br/>
  <input type='text' name='description' value="<%= @pet.description %>"/><br/>
  <input type='text' name='age value'<%= @pet.age %>"/><br/>
  <input type='text' name='sex' value="<%= @pet.sex %>"/><br/>
  <input type='submit' value="Update Pet"/>
</form>
