<form action="/pets/<%= @pet.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='pet[name]' value="<%= @pet.name %>"/><br/>
  <input type='text' name='pet[image]' value="<%= @pet.image %>"/><br/>
  <input type='text' name='pet[description]' value="<%= @pet.description %>"/><br/>
  <input type='text' name='pet[age]' value="<%= @pet.age %>"/><br/>
  <input type='text' name='pet[sex]' value="<%= @pet.sex %>"/><br/>
  <input type='submit' value="Update Pet"/>
</form>
