<h1><%=@pet.name%></h1>
<img src="<%=@pet.image%>">
<p>Description: <%=@pet.description%><br> Age: <%=@pet.age%> <br>Sex: <%=@pet.sex%>
  <br> Adoption Status: <%=@pet.adoption_status%> </p>


<div class = edit_delete>
<%=link_to "Update Pet", "/pets/#{@pet.id}/edit"%>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
</div>
